{% load static %}

<html lang="ru">
<head>
  <meta charset="utf-8">
  <title>MyShows App</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
</head>

<body>
  <div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom shadow-sm">
    <a class="p-2 text-dark" href="{% url 'index' %}">MyShows App</a>
    <div class="mx-auto">
      <form class="form-inline my-2 my-lg-0" method="get" action="{% url 'search_list' %}">
        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search" name="search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
      </form>
    </div>
    {% if user.is_authenticated %}
    <nav class="my-2 my-md-0 mr-md-3">
      <a class="p-2 text-dark">Logged in: {{ user.username }}</a>
    </nav>
      <a class="btn btn-outline-primary" href="{% url 'logout' %}?next={{request.path}}">Logout</a>
    {% else %}
      <a class="btn btn-outline-primary" href="{% url 'login' %}">Login / Registration</a>
    {% endif %}
  </div>
  <div class="container">
  {% block content %}
  {% endblock %}
  </div>
</body>
</html>
