{% extends 'tracker/base.html' %}

{% block content %}

  <div class="row">
    <div class="col-6">
      <h2>{{ title }}</h2>
      <h5>{{ titleOriginal }}, {{ year }}</h5>
    </div>
    {% if user.is_authenticated %}
    <div class="col-6">
      <form action="" method="post">
      {% csrf_token %}
        {% if show_button_later and show_button_complete %}
          <button class="btn btn-outline-info btn-lg" name="add_later" type="submit">Хочу посмотреть</button>
        {% endif %}
        {% if show_button_complete %}
          <button class="btn btn-outline-success btn-lg" name="add_complete" type="submit">Полностью посмотрел</button>
        {% endif %}
      </form>
    </div>
    {% endif %}
  </div>
  {% if not show_button_later %}
    <div class="alert alert-info" role="alert">Я хочу посмотреть этот сериал!</div>
  {% endif %}
  {% if not show_button_complete %}
    <div class="alert alert-success" role="alert">Я полностью посмотрел этот сериал!</div>
  {% endif %}
  <p></p>
  <div class="row">
  <div class="col">
    <img src="{{ image }}" width=500>
  </div>
  <div class="col">
    <p>Страна: {{ countryTitle }}</p>
    <p>Телеканал: {{ network.title }}</p>
    <p>Статус: {{ status }}</p>
    <p>Даты выхода: {{ started }} - {{ ended }}</p>
    <p>Количество сезонов: {{ totalSeasons }}</p>
    <p>Рейтинг КиноПоиска: <a href="{{ kinopoiskUrl }}">{{ kinopoiskRating }}</a></p>
    <p>Рейтинг IMDB: <a href="{{ imdbUrl }}">{{ imdbRating }}</a></p>
  </div>
</div>
<p></p>
<div class="card">
  <div class="card-body">
    {{ description|safe }}
  </div>
</div>

{% endblock %}
